{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/experiences.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <br>
	<br>
    <div class="row">
	
        <div class="col s12 m4 l8">
			<br><br>
            <span class="date">Work</span>
            <ul>
			
                <li>
					<div class="icon-title">
						<i class="material-icons">home_work</i>
						<span class="title">Criteo</span>
					</div>
					<span class="content"><b>Data analyst @Data Science and Analytics</b></span>
					<span class="content"><i>Leading and managing multiple technical data projects focusing on providing marketing insights to stakeholders with automating business
					processes through Python, SQL, Hive, Presto, Spark, ETL tools.</i></span>
					<ul>
						<li>
						Built algorithms of automated presentation deck generator including simulation for optimization of individual advertising campaigns
						by leveraging multiple statistical models and machine learning models from linear regressions to LSTM, applying it to global
						platform through Git
						</li>
						<li>
						Scheduling extraction of data and execution of Python scripts week over week for automatically sending an email to individual
						stakeholders, which contains customized data, using ETL pipeline.
						</li>
						<li>
						Daily trouble-shootings in advertising performance requested by sales teams through data extraction, manipulation, and analysis
						</li>
					</ul>
				</li>

                <li>
					<div class="icon-title">
						<i class="material-icons">home_work</i>
						<span class="title">UOB</span>
					</div>
					<span class="content"><b>FX Dealer @Sales and Trading in Global Markets</b></span>
					<span class="content"><i>Dealing foreign currencies with financial institutions.</i></span>
					<ul>
						<li>
						Analyzed pattern of buying and selling foreign currencies from each bank in Korea in dealing desk, leading to raising profits
						by 40% year-on-year far over the target of the year in the second largest Korean market compared to 13% of increase in total
						from Asia Pacific region.
						</li>
					</ul>
				</li>

                <li>
					<div class="icon-title">
						<i class="material-icons">home_work</i>
						<span class="title">Citi</span>
					</div>
					<span class="content"><b>Trainee @Global Transaction Services</b></span>
				</li>				

            </ul>
        </div>
		
        <div class="col s12 m4 l8">
			<br><br>
            <span class="date">Activity & Project</span>
            <ul>
			
                <li>
					<div class="icon-title">
						<i class="material-icons">developer_board</i>
						<span class="title">AI-Lab Korea</span>
					</div>
					<span class="content"><b>Artificial Intelligence Researcher</b></span>
					<span class="content"><i>Conducting a quantitative research on stock market prediction algorithms through artificial intelligence at the government-backed laboratory.</i></span>
					<ul>
						<li>
						Combining excess return generating models with deep learning and machine learning methods, i.e. a recurrent neural network to
						improve the trading algorithms and find trends in Asian stock markets by using Python (Tensorflow, Keras, Scikit Learn, etc.)
						</li>
						<li>
						Attempting to find novel features for developing a robust model not only by using structured data but also unstructured data
						through natural language processing
						</li>
					</ul>
				</li>

                <li>
					<div class="icon-title">
						<i class="material-icons">developer_board</i>
						<span class="title">Quantitative Estimation Project </span>
					</div>
					<span class="content"><i>Developed a Crank-Nicolson model, which is one of finite difference methods, to estimate a value of a financial instrument.</i></span>
					<ul>
						<li>
						Established a Crank-Nicolson model to value a contingent coupon auto-callable notes linked to the common stock of Amazon,
						which is a derivative with a variety of complex features, by applying LU decomposition in linear algebra to relevant data matrices.
						</li>
					</ul>
				</li>

                <li>
					<div class="icon-title">
						<i class="material-icons">developer_board</i>
						<span class="title">Big Data Analysis Project </span>
					</div>
					<span class="content"><i>Constructed predictive analysis models and compared each statistical model to extract insight from financial data. </i></span>
					<ul>
						<li>
						Built statistical models such as linear regression, ridge regression, lasso regression, and elastic net model using rolling windows
						based on time series data, KOSPI index as a dependent variable and different 24 independent variables, to predict future trends,
						selecting ridge regression performed the best in out-of-sample tests in terms of mean squared error, accuracy, precision, recall.
						</li>
					</ul>
				</li>				

            </ul>
        </div>

        <div class="col s12 m4 l8">
			<br><br>
            <span class="date">Education</span>
            <ul>
			
                <li>
					<div class="icon-title">
						<i class="material-icons">school</i>
						<span class="title">KAIST (formally the Korea Advanced Institute of Science and Technology)</span>
					</div>
					<span class="content"><b>Master of Financial Engineering</b></span>
					<span class="content"><i>Concentration in financial analytics.</i></span>
					<ul>
						<li>
						Received a scholarship from KAIST by academic achievements for excellence in statistics and mathematics	
						</li>
						<li>
						Research: completed a thesis paper for alphas of the beta anomaly which arises from idiosyncratic volatilities using multi-factor
						models and Betting Against Beta strategy in Korea stock market through the mispricing measure constructed by 8 other anomalies
						</li>
						<li>
						Coursework: Financial Data Analysis with Big data, Algorithmic Trading and Quantitative Trading, Programming for Financial
						Engineering, Advanced Derivatives, Artificial Intelligence and Machine Learning for Financial Engineering, Computational Finance,
						Stochastic Calculus for Finance, Numerical Methods in Finance, Statistical Analysis for Finance.						
						</li>
						<li>
						University of Illinois, Urbana Champaign: an exchange student during the Spring semester of 2018					
						</li>
					</ul>
				</li>

                <li>
					<div class="icon-title">
						<i class="material-icons">school</i>
						<span class="title">Sungkyunkwan University </span>
					</div>
					<span class="content"><b>Bachelor of Business Administration</b></span>
					<span class="content"><i>Concentration in finance.</i></span>
					
					<ul>
						<li>
						Coursework: Derivative Securities, International Financial Management, Economics, Statistics for Business
						</li>
					</ul>
				</li>			

            </ul>
        </div>

        <div class="col s12 m4 l8">
			<br><br>
            <span class="date">Skill</span>
            <ul>
			
                <li>
					<div class="icon-title">
						<i class="material-icons">videogame_asset</i>
						<span class="title">Programming Languages & Technical Sets</span>
					</div>
					<span class="content">Python, Java, R, SQL, Git, Hadoop (HiveQL, PrestoSQL, Spark), CSS, HTML</span>
				</li>

                <li>
					<div class="icon-title">
						<i class="material-icons">language</i>
						<span class="title">Languages</span>
					</div>
					<span class="content">English, Korean</span>
				</li>

                <li>
					<div class="icon-title">
						<i class="material-icons">toys</i>
						<span class="title">Others</span>
					</div>
					<span class="content">Cello (soloist and orchestra member 6 years), piano (10 years), fencing, racquetball  </span>
				</li>

            </ul>
        </div>
		
    </div>
	<br><br>
	<div class="social-icons">
		<a target="_blank" href="https://github.com/yyk55">
			<img class="social-logo" src="static/images/github.svg">
		</a>
		<a target="_blank" href="https://www.linkedin.com/in/yykim/">
			<img class="social-logo" src="static/images/linkedin-logo.svg">
		</a>
		<a target="_blank" href="https://www.instagram.com/theyykim/">
			<img class="social-logo" src="static/images/insta.svg">
		</a>	
	</div>
    <br><br>
</div>

<!--<li><a href="/projects/" class="title">[]</a>
    <span class="content"></span></li>-->
{% endblock %}
